{{ define "main" }}
<div class="container mt-4">
  <h1 class="text-center mb-4">{{ .Site.Params.labs.Title }}</h1>
  <p class="text-center text-muted mb-5">{{ .Site.Params.labs.Description }}</p>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- Repeat this block for each card -->
    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "labs") }}
    {{ range $paginator.Pages }}
    <div class="col">
      <div class="card h-100">
        <a href="{{.Permalink}}">
        <img
          src="{{ .Params.featuredImage }}"
          class="card-img-top"
          alt="{{.Title}}"
        />
      </a>
        <div class="card-body">
          <a href="{{.Permalink}}"><h5 class="card-title">{{.Title}}</h5> </a>
          <p class="card-text card-description">{{ .Params.description }}</p>
          {{ range .Params.tags }}
          {{ $tagPage := $.Site.GetPage (printf "/tags/%s" .) }}
          <a href="{{ $.Page.Site.BaseURL }}tags/{{ . }}">
            <span class="badge bg-secondary" style="border: 1px solid;color: {{ $tagPage.Params.color }}!important; background-color: {{ $tagPage.Params.background }}!important;">
            #{{ . }}
            </span>
          </a>
        {{ end }}
        </div>
      </div>
    </div>
    {{ end }}
    <!-- Repeat end -->
  </div>
  <div class="justify-content-center">
    {{ template "_internal/pagination.html" . }}
  </nav>
  
</div>
{{ end }}
