#tag-page .card {
    background-color: #444;
    color: #fff;
  }
  #tag-page .card .card-body {
    padding: 1rem;
  }
  #tag-page .card-title {
    font-size: 1.25rem;
    font-weight: 500;
  }
  #tag-page .card-text {
    font-size: 0.875rem;
  }
  #tag-page .badge {
    background-color: #555;
    margin-right: 0.5rem;
    font-size: 0.75rem;
  }
  #tag-page .header {
    margin-bottom: 1rem;
    font-size: 2rem;
  }