{{ define "main" }}
<div id="tag-page" class="container">
  <div class="header">{{ .Title }}</div>
  <div class="row">
    {{ range .Pages }}
    <div class="col-md-4 mb-4">
      <a href="{{ .RelPermalink }}" class="card-link">
        <div class="card">
          <img
            class="card-img-top"
            src="{{ .Params.featuredImage }}"
            alt="{{ .Title }}"
            height="400"
            width="600"
          />
          <div class="card-body">
            <h5 class="card-title">{{ .Title }}</h5>
            <p class="card-text">{{ .Summary }}</p>
            {{ range .Params.tags }}
            <span class="badge"> #{{ . }} </span>
            {{ end }}
          </div>
        </div>
      </a>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
