{{ define "main" }}
<div class="container mt-4">
  <div class="row">
    <!-- Sidebar with list of lessons -->
    <div class="col-md-4">
      <aside class="sticky-sidebar">
        <h5 class="mt-4 mb-3">Lessons</h5>
        <!-- Sidebar or section for the lessons list -->
        <div class="list-group">
          {{ range .Parent.Pages }} {{ if eq .Parent.Title $.Parent.Title }}
          {{ .Scratch.Set "relatedPages" .Pages }}
           <a
            href="{{ .Permalink }}"
            class="list-group-item list-group-item-action {{ if eq .RelPermalink $.RelPermalink }}active{{ end }}"
          >
            {{ .Title }}
          </a>
          {{ end }} {{ end }}
        </div>
      </aside>
    </div>
    <!-- Main content area -->
    <div class="col-md-8">
      <article>
        <h1 class="course-detail-title mb-4">{{ .Title }}</h1>
        <p class="post-date">
        <p><i class="fa fa-clock-o"></i> {{ .Date.Format "02/01/2006" }} - <i class="fa fa-book"></i> {{ math.Floor (add (div (float .WordCount) 200) 0.5) }} phút</p>      </p>
          <div>
            {{ range .Params.tags }} {{ $tagPage := $.Site.GetPage (printf
              "/tags/%s" .) }}
              <a href="{{ $.Page.Site.BaseURL }}tags/{{ . }}">
                <span
                  class="badge bg-secondary"
                  style="border: 1px solid;color: {{ $tagPage.Params.color }}!important; background-color: {{ $tagPage.Params.background }}!important;"
                >
                  #{{ . }}
                </span>
              </a>
              {{ end }}
          </div>
        </p>
        {{ partial "breadcrumbs.html" . }}
        <p>
            {{ if not .Site.Params.google_new.hide }}
            <a href="{{ .Site.Params.google_new.url }}">
              <img
                width="15%"
                src="/follow-google-news.png"
                alt="Follow {{ .Site.Params.title }} on Google News"
              />
            </a>
            {{ end }}
          </p>
        <div>{{ .Content }}</div>
      </article>
    </div>
  </div>
</div>
{{ end }}
