<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" href="{{ "favicon.ico" | absURL }}"> {{if
.Site.Params.google_site_verification.key }}
<meta
  name="google-site-verification"
  content="{{ .Site.Params.google_site_verification.key }}"
/>
{{ end }} {{if .Site.Params.google_adsense.url }}
<script
  async
  src="{{.Site.Params.google_adsense.url }}"
  crossorigin="anonymous"
></script>
{{end}}
<!-- Seo -->
{{ partial "seo.html" . }}

<title>{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<!-- Bootstrap CSS -->
<link href="/bootstrap@5.0.2/css/bootstrap.min.css" rel="stylesheet" />

<!-- Custom styles -->
<link href="/css/main.css" rel="stylesheet" />
<link href="/css/syntax.css" rel="stylesheet" />
<link href="/css/figure.css" rel="stylesheet" />
<link href="/tocbot/tocbot.css" rel="stylesheet" />
<link href="/css/table.css" rel="stylesheet" />
<link href="/css/highlight.css" rel="stylesheet" />
<link href="/css/copy.css" rel="stylesheet" />
<link href="/css/tags.css" rel="stylesheet" />
<link href="/css/content.css" rel="stylesheet" />
