{{ define "main" }}
<style>
  .search-bar {
    width: 100%;
    max-width: 580px; /* Adjust the width as needed */
  }
  .search-bar input[type="text"] {
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 10px 20px;
    width: calc(100% - 40px); /* Adjust the padding and border to the width */
    margin-bottom: 20px;
  }
  /* Additional custom styles */
</style>
<div class="container mt-4">
  <h1 class="mb-4 mt-4 text-center">Bạn cần tìm gì</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
    <!-- Repeat this block for each card -->
    <div class="search-bar">
      <div class="mb-3">
        <input
          type="text"
          id="search-query"
          class="form-control"
          placeholder="Vui lòng gõ ký tự bạn muốn tìm kiếm"
        />
      </div>
    </div>
  </div>

  <div id="search-results" class="mt-4">
    <h2>Kết quả tìm kiếm</h2>
  </div>
  <!-- 5 bài viết mới nhất -->
  <div class="recent-posts row">
    <h2>Bài viết mới nhất</h2>
    {{ range first 4 .Site.RegularPages }}
    <div class="col-md-3">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <a href="{{ .Permalink }}">
            <img
              src="{{ .Params.featuredImage }}"
              class="card-img-top-home"
              alt="{{ .Title }}"
            />
          </a>
          {{ $titleParts := split .Title " - " }}
          <h5 class="card-title mt-1">
            <a class="link-a" href="{{ .Permalink }}">
              <span class="highlighted-title">{{ index $titleParts 0 }}</span> -
              {{ index $titleParts 1 }}
            </a>
          </h5>
          <p class="card-text limited-text">{{ .Description }}</p>
          {{ range first 2 .Params.tags }} {{ $tagPage := $.Site.GetPage (printf
          "/tags/%s" .) }}
          <a href="{{ $.Page.Site.BaseURL }}tags/{{ . }}">
            <span
              class="badge bg-secondary"
              style="color: {{ $tagPage.Params.color }}!important; background-color: {{ $tagPage.Params.background }}!important;"
            >
              #{{ . }}
            </span>
          </a>
          {{ end }}
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
