{{ define "main" }}
<style>
  .search-bar {
    width: 100%;
    max-width: 580px;
  }
  .search-bar input[type="text"] {
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 10px 20px;
    width: calc(100% - 40px);
    margin-bottom: 20px;
  }

  .profile-section {
    padding: 20px 0;
  }
  .profile-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
  }
  .social-icons a {
    color: black;
    margin: 0 10px;
  }
</style>
<div class="container mt-4">
  <div class="row profile-section">
    <div
      class="col-12 col-md-4 d-flex justify-content-center justify-content-md-end"
    >
      <img
        src="{{.Site.Params.home.avatar}}"
        alt="Profile"
        class="profile-image"
      />
    </div>
    <div class="col-12 col-md-8 d-flex align-items-center">
      <div>
        <h3>{{.Site.Params.home.title}}</h3>
        <h2>{{.Site.Params.home.description}}</h2>
        <div class="social-icons">
          <!-- Use icons from a library such as Font Awesome or similar -->
          {{ range .Site.Params.social }}
          <a href="{{ .href }}" class="{{ .icon }}"></a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
    <!-- Repeat this block for each card -->
    <div class="search-bar">
      <div class="mb-3">
        <input
          type="text"
          id="search-query"
          class="form-control"
          placeholder="Bạn cần giúp đỡ gì?"
        />
      </div>
    </div>
  </div>

  <div id="search-results" class="mt-4 row"></div>
  <div id="recent-posts">
    <!-- 5 bài viết mới nhất -->
    <div class="recent-posts row">
      <h2 class="text-center">Mới nhất</h2>
      {{ range first 4 .Site.RegularPages }}
      <div class="col-md-3">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <a href="{{ .Permalink }}">
              <img
                src="{{ .Params.featuredImage }}"
                class="card-img-top-home"
                alt="{{ .Title }}"
              />
            </a>
            <h5 class="card-title mt-1">
              <a class="link-a" href="{{ .Permalink }}">{{ .Title }} </a>
            </h5>
            <p class="card-text limited-text">{{ .Description }}</p>
            {{ range first 2 .Params.tags }} {{ $tagPage := $.Site.GetPage
            (printf "/tags/%s" .) }}
            <a href="{{ $.Page.Site.BaseURL }}tags/{{ . }}">
              <span
                class="badge bg-secondary"
                style="border: 1px solid;color: {{ $tagPage.Params.color }}!important; background-color: {{ $tagPage.Params.background }}!important;"
              >
                #{{ . }}
              </span>
            </a>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
